.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  transform: scale(1);
  transform-origin: center top;
}

.lanyard-slot {
  height: 780px;
}

@media (max-width: 1024px) {
  .lanyard-slot {
    height: 720px;
  }
}

@media (max-width: 768px) {
  .lanyard-slot {
    height: 560px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .lanyard-slot {
    height: 480px;
  }
}
